
:root {
    --text-color: #FFFFFF;
    --background: #004d00;
    --primary: #000080;
    --secondary: #424242;
    --accent: #fcce64;
}

body{
    background-color: #004d00;
    background-image: linear-gradient(to bottom right,#FFFFFF,#004d00,);
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif
}

#wrapper{
    width: 80%;
    margin: auto;
    background-color: #FFFFFF;
    min-width: 960px;
    max-width: 2048;
    box-shadow:3px 3px 3px #333333;
}

header{
    text-align: center;
    background-color: #004d00;
    color: #fcce64;
    background-repeat: no-repeat;
    background-position: right;
    line-height: 400%;
    text-indent: 1em;
    padding-top: 15px;
}

a {
    text-decoration: none;
    color: #fcce64
}

h1{
    background-color: #004d00;
    color: #fcce64;
    margin-bottom: 0;
    margin-top: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
nav{
    background-color: #FFFFFF;
    font-weight: bold; 
    text-align: center;
    padding: 1em;
}
nav a {text-decoration: none;
} 
main{  
    padding: 1px 20px 20px 20px;
    display: block;
}
h2{
    background-color: #000080;
    color: #fcce64;
    text-shadow: 1px 1px #CCCCCC;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h3{
    background-color: #000080;
    color: #000033;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
dt{
    color: #002171;
}
.TMTF{
    color: #fcce64;
    font-weight: bold; 
}
ul{
    list-style-image: url('marker.gif');
} 
footer{
    font-size: 75%;
    font-style: italic;
    text-align: center;
    padding:2em;
    font-family: Georgia, "Times New Roman", serif;
}
#contact{  
    font-size: 90%;
}
#homehero{
    height: 300px;
    background-image: url('moneytree.jpg');
    background-repeat: no-repeat;
    background-size: 40% 110%;
    background-position: center;
}
#paycheckhero{
    height: 300px;
    background-image: url('paycheck.jpg');
    background-repeat: no-repeat;
    background-size: 70% 100%;
    background-position: center;
} 
#budgethero{
    height: 300px;
    background-image: url('budget.jpg');
    background-repeat: no-repeat;
    background-size: 65% 100%;;
    background-position: center;
}
#investhero{
    height: 300px;
    background-image: url('investing.jpg');
    background-repeat: no-repeat;
    background-size: 65% 100%;;
    background-position: center;
}

